<div class="row d-flex justify-content-between align-items-end">
  <h1 class="mt-4">Dashboard</h1>
  <a href="/users/logout" class="btn btn-secondary h-25 d-inline-block"
    >Logout</a
  >
</div>
<h4 class="mb-0 mt-4">Search clients data by Id and name</h4>
<form action="/dashboard/clients" method="GET">
  <div class="row">
    <div class="col-sm">
      <label class="col-form-label" for="inputDefault">Filter by Id</label>
      <input
        type="text"
        class="form-control"
        name="id"
        placeholder="Enter Id"
        id="id"
        value="<%= typeof id != 'undefined' ? id : '' %>"
      />
    </div>
    <div class="col-sm">
      <label class="col-form-label" for="inputDefault">Filter by Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Enter Name"
        id="name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />
    </div>
    <div class="col-sm d-flex align-content-end flex-wrap">
      <button type="submit" class="btn btn-primary mt-4">Search</button>
    </div>
  </div>
</form>
<h4 class="mb-0 mt-4">Search client's policies by name</h4>
<form action="/dashboard/policies" method="GET">
  <div class="row">
    <div class="col-sm">
      <label class="col-form-label" for="inputDefault">Filter by name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Enter client's name"
        id="name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />
    </div>
    <div class="col-sm d-flex align-content-end flex-wrap">
      <button type="submit" class="btn btn-primary mt-4">Search</button>
    </div>
  </div>
</form>
<h4 class="mb-0 mt-4">Search client's data by policy number</h4>
<form action="/dashboard/policies" method="GET">
  <div class="row">
    <div class="col-sm">
      <label class="col-form-label" for="inputDefault"
        >Filter by Policy number</label
      >
      <input
        type="text"
        class="form-control"
        name="id"
        placeholder="Enter policy number"
        id="id"
        value="<%= typeof id != 'undefined' ? id : '' %>"
      />
    </div>
    <div class="col-sm d-flex align-content-end flex-wrap">
      <button type="submit" class="btn btn-primary mt-4">Search</button>
    </div>
  </div>
</form>
<table class="table table-hover mt-4">
  <thead>
    <% if (policies) {%>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Amount Insured</th>
      <th scope="col">Email</th>
      <th scope="col">Inception Date</th>
      <th scope="col">Install Payment</th>
    </tr>
  </thead>
  <tbody>
    <% policies.map(policy => { %>
    <tr>
      <th scope="row"><%= policy.id %></th>
      <td><%= policy.amountInsured %></td>
      <td><%= policy.email %></td>
      <td><%= policy.inceptionDate %></td>
      <td><%= policy.installmentPayment %></td>
    </tr>
    <% }) }%>
  </tbody>
</table>
<table class="table table-hover mt-4">
  <thead>
    <% if (client) { %>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= client.id %></th>
      <td><%= client.name %></td>
      <td><%= client.email %></td>
      <td><%= client.role %></td>
    </tr>
    <% } %>
  </tbody>
</table>
